html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}


/* CONTAINER */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ACTIONS FORM */
.actions-form {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
}


/* FORM HEADING */
.form-heading {
    color: red;
}


/* ACTION INPUT */
.actions-input {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.action-input-label, .currency-input-label, .response-textarea-label {
    font-size: 18px;
    font-weight: bold;
    padding-right: 18px;
}

.actions-input > label {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 15px;
}


/* CURRENCY INPUT */
.currency-input {
    padding-bottom: 20px;
}

#currency-codes {
    width: 200px;
    height: 30px;
}


/* SUBMIT BUTTON */
#submit {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;margin: 10px 0px;
}


/* XML RESPONSE TEXTAREA */
.response-textarea {
    padding: 20px 0px;
}

.response-textarea-label {
    display: block;
    padding-bottom: 10px;
}


/* RESPONSIVE STYLE */
@media (max-width: 800px) {
    
    .actions-form {
        padding: 20px 30px; 
    }

    .action-input-label, .currency-input-label, .response-textarea-label {
        font-size: 16px; 
    }

    #submit {
        padding: 8px 16px;
        font-size: 14px; 
    }

    #response {
        font-size: 14px; 
    }
}

@media (max-width: 600px) {
    html, body {
        flex-direction: column; 
    }

    .container {
        flex-direction: column;
        padding: 10px; 
    }

    .action-input-label, .currency-input-label, .response-textarea-label {
        padding-right: 0; 
        padding-bottom: 5px; 
    }

    #currency-codes, #response {
        width: 100%;
    }

    .actions-input > label, .currency-input > label {
        padding-left: 0;
    }
}
